In [52]:
import mysql.connector

In [83]:
try:
    mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "ahsanjaved@96",
    database = "space"
    )
    print("connected")
except:
    print("not connected")

connected

In [84]:
mycursor = mydb.cursor()

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [85]:
q1 = "(select distinct Launch_Site  from spacex)"

In [86]:
mycursor.execute(q1)
ans1 = mycursor.fetchall()
ans1

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [87]:
q2 = "(select Launch_Site from spacex where Launch_Site like 'CCA%' limit 5)"

In [88]:
mycursor.execute(q2)
ans2 = mycursor.fetchall()
ans2

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [89]:
q3 = "(select SUM(PAYLOAD_MASS__KG_) as Total_payload_masss from spacex where Customer = 'NASA (CRS)')"

In [90]:
mycursor.execute(q3)
ans3 = mycursor.fetchall()
ans3

[(Decimal('45596'),)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [91]:
q4 = "(select avg(PAYLOAD_MASS__KG_) from spacex where Booster_Version = 'F9 v1.1')"

In [92]:
mycursor.execute(q4)
ans4 = mycursor.fetchall()
ans4

[(Decimal('2928.4000'),)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

In [96]:
q5 = "(select min(D_ate) from spacex where Landing_Outcome = 'Success (ground pad)')"

In [97]:
mycursor.execute(q5)
ans5 = mycursor.fetchall()
ans5

[('01/05/2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [98]:
q6 = "(select Booster_Version from spacex where Landing_Outcome='Success (drone ship)' and PAYLOAD_MASS__KG_ BETWEEN 4001 and 5999)"

In [99]:
mycursor.execute(q6)
ans6 = mycursor.fetchall()
ans6

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [100]:
q7 = "(SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) AS OUTCOME FROM spacex GROUP BY MISSION_OUTCOME)"

In [101]:
mycursor.execute(q7)
ans7 = mycursor.fetchall()
ans7

[('Success', 98),
 ('Failure (in flight)', 1),
 ('Success (payload status unclear)', 1),
 ('Success ', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [103]:
q8 = "(select Booster_Version from spacex where PAYLOAD_MASS__KG_= (select max(PAYLOAD_MASS__KG_) from spacex))"

In [104]:
mycursor.execute(q8)
ans8 = mycursor.fetchall()
ans8

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [105]:
q9 = "(SELECT D_ate, Booster_Version, Launch_Site, Landing_Outcome FROM spacex WHERE Landing_Outcome = 'Failure (drone ship)' and D_ate like '%2015%')"

In [106]:
mycursor.execute(q9)
ans9 = mycursor.fetchall()
ans9

[('10/01/2015', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('14/04/2015', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [111]:
q10 = "(SELECT Landing_Outcome, COUNT(*) AS COUNT_LAUNCHES FROM spacex WHERE D_ate BETWEEN '04/06/2010' AND '20/03/2017' GROUP BY Landing_Outcome ORDER BY COUNT_LAUNCHES DESC)"

In [113]:
mycursor.execute(q10)
ans10 = mycursor.fetchall()
ans10

[('Success', 20),
 ('No attempt', 10),
 ('Success (drone ship)', 8),
 ('Success (ground pad)', 6),
 ('Failure (drone ship)', 4),
 ('Controlled (ocean)', 3),
 ('Failure', 3),
 ('Failure (parachute)', 2),
 ('No attempt ', 1)]